.custom-header .MuiDataGrid-columnHeader {
    background-color: #3375df;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.custom-header .MuiDataGrid-scrollArea {
    background-color: white;
}